// Your Sass goes here...
@use 'base/forms.scss';
@use 'base/key-values.scss';

@use 'components/pretty-but-unecessary-background';
@use 'components/weather-search';

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
}