@use 'config/vars';

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
label {
  display: block;
  font-size: 14px;
  width: 100%;
}
input {
  border: vars.$basicBorder;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 36px 0 8px;
  width: 100%;
  height: 36px;
}
.form-error {
  color: red;
  font-size: 14px;
  text-align: center;
  padding-left: 12px;
  width: 100%;
}
button {
  background-color: vars.$primaryColor;
  border: none;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-top: 2px;
  margin-left: auto;
  padding: 0 16px;
  height: 36px;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: lighten(vars.$primaryColor, 10%)
  }
}

.input-wrap {
  position: relative;
  width: 100%;
}

.clear-input {
  background-color: vars.$mutedColor;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
  &:hover {
    opacity: 1;
  }
}