<template>
  <div class="pretty-but-unecessary-background">
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: "PrettyButUnecessaryBackground"
})
</script>