<template>
  <div class="weather-search">
    <header class="weather-search--header">
      <h3>Weather</h3>
    </header>
    <div class="weather-search--form">
      <form @submit.prevent="searchWeather">
        <label for="city-search">City</label>
        <div class="input-wrap">
          <input id="city-search" type="text" v-model="city">
          <span class="clear-input" @click="clearInput" v-show="city">x</span>
        </div>
        <button type="submit">Get Weather</button>
        <p class="form-error" v-show="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
    <div class="weather-search--results">
      <p class="key-values">
        <span>Temp: </span>
        <span>{{ tempDisplay }}</span>
      </p>
      <p class="key-values">
        <span>Humidity: </span>
        <span>{{ humidityDisplay }}</span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: "WeatherSearch",
  data() {
    return {
      temp: 0,
      humidity: 0,
      city: "",
      errorMessage: "",
    }
  },
  computed: {
    tempDisplay(): string {
      return `${Math.round(this.temp)} F`;
    },
    humidityDisplay(): string {
      return `${this.humidity}%`;
    }
  },
  methods: {
    searchWeather() {
      this.setError("");
      const getWeatherByCity = (city: string) => `https://api.openweathermap.org/data/2.5/weather?appid=dc884d8347e8b27fc4bbbc265f2e9d3c&q=${city}`;
      fetch(
        getWeatherByCity(this.city))
        .then(response => response.json())
        .then(data => {
          if (data.cod === "404") {
            this.setError("Please enter a valid city name.");
            return;
          }
          this.setWeatherData(data.main.temp, data.main.humidity);
        })
    },
    clearInput() {
      this.temp = 0;
      this.humidity = 0;
      this.city = "";
      this.errorMessage = "";
    },
    setError(message: string) {
      this.errorMessage = message;
    },
    setWeatherData(temp: number, humidity: number) {
      this.temp = (temp - 273.15) * 9 / 5 + 32;
      this.humidity = humidity;
    },
  }
})
</script>