@use '../config/vars';

.weather-search {
  background-color: white;
  border: vars.$basicBorder;
  border-radius: 4px;
  width: 100%;
  max-width: 396px;
  &--header {
    border-bottom: vars.$basicBorder;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    h3 {
      font-size: 18px;
      font-weight: normal;
      margin: 0;
    }
  }
  &--form {
    padding: 20px 20px 0;
  }
  &--results {
    padding: 0 20px 32px;
  }
}