<template>
  <div id="mount">
    <pretty-but-unecessary-background>
      <weather-search />
    </pretty-but-unecessary-background>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PrettyButUnecessaryBackground from './components/PrettyButUnecessaryBackground.vue';
import WeatherSearch from './components/WeatherSearch.vue';

export default Vue.extend({
  name: "App",
  components: {
    PrettyButUnecessaryBackground,
    WeatherSearch
  }
})
</script>